[submodule "deps/native_argon2"]
	path = deps/native_argon2
	url = git@github.com:typedefai/native_argon2.git
[submodule "deps/native_sqlcipher"]
	path = deps/native_sqlcipher
	url = git@github.com:typedefai/native_sqlcipher.git
